<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android" android:installLocation="auto" package="com.gameloft.android.LATAM.GloftKLMF">
    <supports-screens android:anyDensity="true" android:largeScreens="true" android:normalScreens="true" android:smallScreens="false" android:xlargeScreens="true"/>
    <application android:debuggable="false" android:icon="@drawable/icon" android:label="@string/MIDlet_Name" android:largeHeap="true" android:theme="@style/AppTheme.CutoutSupport">
        <activity android:configChanges="mcc|mnc|locale|touchscreen|keyboard|keyboardHidden|navigation|orientation|screenLayout|uiMode|screenSize|smallestScreenSize|layoutDirection|fontScale" android:label="@string/MIDlet_Name" android:launchMode="singleTop" android:name=".StartGame" android:screenOrientation="landscape">
            <intent-filter/>
        </activity>
        <activity android:label="@string/MIDlet_Name" android:name="com.facebook.LoginActivity" android:screenOrientation="landscape" android:theme="@android:style/Theme.Translucent.NoTitleBar"/>
        <receiver android:name=".PushNotification.LocalPushReceiver">
            <intent-filter>
                <action android:name="android.intent.action.BOOT_COMPLETED"/>
            </intent-filter>
        </receiver>
        <receiver android:name="com.google.android.gcm.GCMBroadcastReceiver" android:permission="com.google.android.c2dm.permission.SEND">
            <intent-filter>
                <action android:name="com.google.android.c2dm.intent.RECEIVE"/>
                <category android:name="com.gameloft.android.LATAM.GloftKLMF"/>
            </intent-filter>
            <intent-filter>
                <action android:name="com.google.android.c2dm.intent.REGISTRATION"/>
                <category android:name="com.gameloft.android.LATAM.GloftKLMF"/>
            </intent-filter>
        </receiver>
        <service android:name=".GCMIntentService"/>
        <activity android:configChanges="mcc|mnc|locale|touchscreen|keyboard|keyboardHidden|navigation|orientation|screenLayout|uiMode|screenSize|smallestScreenSize|layoutDirection|fontScale" android:label="@string/MIDlet_Name" android:launchMode="singleTop" android:name=".Start" android:screenOrientation="landscape" android:theme="@style/Theme.SMSWrapperBase">
            <intent-filter>
                <action android:name="android.intent.action.MAIN"/>
                <action android:name="com.gameloft.android.UNLOCK_GAME"/>
                <category android:name="android.intent.category.LAUNCHER"/>
            </intent-filter>
        </activity>
        <activity android:name=".SMSSender" android:screenOrientation="landscape"/>
        <provider android:authorities="com.gameloft.android.LATAM.GloftKLMF.KeyProvider" android:exported="true" android:multiprocess="true" android:name=".KeyProvider" android:permission="glshare.permission.ACCESS_SHARED_DATA"/>
        <meta-data android:name="CHANNEL_ID" android:value="0"/>
        <activity android:configChanges="mcc|mnc|locale|touchscreen|keyboard|keyboardHidden|navigation|orientation|screenLayout|fontScale" android:name="com.gameloft.android2d.iap.utils.MyWebView" android:theme="@android:style/Theme.Translucent.NoTitleBar.Fullscreen"/>
        <activity android:configChanges="mcc|mnc|locale|touchscreen|navigation|orientation|uiMode|fontScale" android:multiprocess="false" android:name="com.gameloft.android2d.igp.IGPScreenshot" android:noHistory="false" android:screenOrientation="landscape" android:theme="@style/Theme.Transparent"/>
        <activity android:configChanges="mcc|mnc|locale|touchscreen|navigation|orientation|uiMode|fontScale" android:multiprocess="false" android:name="com.gameloft.android2d.igp.IGP" android:noHistory="false" android:screenOrientation="landscape" android:theme="@android:style/Theme.NoTitleBar.Fullscreen"/>
        <activity android:configChanges="mcc|mnc|locale|touchscreen|navigation|orientation|uiMode|fontScale" android:multiprocess="false" android:name="com.gameloft.android2d.igp.IGPLoading" android:noHistory="false" android:screenOrientation="landscape" android:theme="@android:style/Theme.Black.NoTitleBar.Fullscreen">
            <intent-filter>
                <action android:name="android.intent.action.MAIN"/>
            </intent-filter>
        </activity>
        <activity android:configChanges="mcc|mnc|locale|touchscreen|navigation|orientation|uiMode|fontScale" android:multiprocess="false" android:name="com.gameloft.android2d.igp.IGPDownloadFreemium" android:noHistory="false" android:screenOrientation="landscape" android:theme="@style/Theme.Transparent_popup"/>
        <activity android:configChanges="mcc|mnc|locale|touchscreen|keyboard|keyboardHidden|navigation|orientation|screenLayout|uiMode|screenSize|smallestScreenSize|layoutDirection|fontScale" android:launchMode="singleTop" android:name=".S.GloftKLMF" android:screenOrientation="landscape">
            <intent-filter>
                <action android:name="android.intent.action.MAIN"/>
            </intent-filter>
        </activity>
    </application>
    <uses-feature android:name="android.hardware.touchscreen"/>
    <uses-feature android:name="android.hardware.telephony" android:required="false"/>
    <permission android:name="com.gameloft.android.LATAM.GloftKLMF.permission.C2D_MESSAGE" android:protectionLevel="signature"/>
    <permission android:name="glshare.permission.ACCESS_SHARED_DATA" android:protectionLevel="signature"/>
    <uses-permission android:name="android.permission.INTERNET"/>
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE"/>
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE"/>
    <uses-permission android:name="android.permission.READ_PHONE_STATE"/>
    <uses-permission android:name="android.permission.WAKE_LOCK"/>
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE"/>
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE"/>
    <uses-permission android:name="android.permission.VIBRATE"/>
    <uses-permission android:name="android.permission.RECEIVE_BOOT_COMPLETED"/>
    <uses-permission android:name="com.gameloft.android.LATAM.GloftKLMF.permission.C2D_MESSAGE"/>
    <uses-permission android:name="com.google.android.c2dm.permission.RECEIVE"/>
    <uses-permission android:name="android.permission.SEND_SMS"/>
    <uses-permission android:name="android.permission.RECEIVE_SMS"/>
    <uses-permission android:name="android.permission.READ_SMS"/>
    <uses-permission android:name="glshare.permission.ACCESS_SHARED_DATA"/>
    <uses-permission android:name="android.permission.CHANGE_WIFI_STATE"/>
    <uses-permission android:name="android.permission.CHANGE_NETWORK_STATE"/>
</manifest>
